In [ ]:
student_pet_count_list = [0,1,0,2,1,1,4,0,0,0,3,2,1,30,2,2]

In [ ]:
NUM_STUDENTS=len(student_pet_count_list)
ITEM_AT_INDEX_THREE = student_pet_count_list[3]
ITEM_THREE_FROM_BACK = student_pet_count_list[-3]

16

In [ ]:
print(NUM_STUDENTS)
print(ITEM_AT_INDEX_THREE)
print(ITEM_THREE_FROM_BACK)

SUM = 0
for i in student_pet_count_list:
  SUM = SUM + i

16
2
30

In [ ]:
student_pet_count_list[2]=3
print(student_pet_count_list[3])
student_pet_count_list[3] = student_pet_count_list[3] + 1
print(student_pet_count_list[3])

2
3

In [ ]:
student_pet_count_list.append(4)

In [ ]:
NUM_STUDENTS=len(student_pet_count_list)
SUM = 0
for i in student_pet_count_list:
  SUM = SUM + i

In [ ]:
# average = sum/num items
AVERAGE = SUM/NUM_STUDENTS
print(num_students)
print(AVERAGE)

3.3529411764705883